# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# macOS
.DS_Store
.AppleDouble
.LSOverride

# User-specific
*.swp
*.swo
*.orig
*.idea/
*.vscode/

# Logs
*.log

# Bundle
*.xcworkspace/

# Firebase
GoogleService-Info.plist